@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-primary: #EC4899;      
  --color-primary-dull: #DB2777;  
  --color-light: #FDF2F8;         
}
